body {
    margin: 0;
    background-color: #e6e6e6;
}

.App {
    background-color: #e6e6e6;
}

.headerNav ul{
    text-decoration-style: none;
    height: 63px;
    margin: 0;
    padding: 0;
}

.headerNav ul li.active{
    background-color: #6396f7;  
}

.headerNav ul li {
    display: inline-block;
    padding: 0px 10px;
    height: 63px;
    line-height: 63px;
}

.headerNav ul li a{
    color: #FFF;
    text-decoration: inherit;
}
